# Assignment 12(Naive Bayes)

In [1]:
import pandas as pd
import numpy as np

In [3]:
# import data
train_s = pd.read_csv('E:\\My folder\\ExcelR(documents)\\Assignments\\Naive Bayes-12\\SalaryData_Train.csv')
test_s = pd.read_csv('E:\\My folder\\ExcelR(documents)\\Assignments\\Naive Bayes-12\\SalaryData_Test.csv')

In [4]:
train_s.columns

Index(['age', 'workclass', 'education', 'educationno', 'maritalstatus',
       'occupation', 'relationship', 'race', 'sex', 'capitalgain',
       'capitalloss', 'hoursperweek', 'native', 'Salary'],
      dtype='object')

In [5]:
test_s.columns

Index(['age', 'workclass', 'education', 'educationno', 'maritalstatus',
       'occupation', 'relationship', 'race', 'sex', 'capitalgain',
       'capitalloss', 'hoursperweek', 'native', 'Salary'],
      dtype='object')

In [12]:
# select columns
string_columns=['workclass','education','maritalstatus','occupation','relationship','race','sex','native']

In [13]:
# Text information(for selected columns) now converted into numerical data using Label Encoder
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()
for i in string_columns:
    train_s[i]=label_encoder.fit_transform(train_s[i])
    test_s[i]=label_encoder.fit_transform(test_s[i])

In [15]:
# Split the data in X and y for train and test
col_names=list(train_s.columns)
train_X=train_s[col_names[0:13]]
train_Y=train_s[col_names[13]]
test_x=test_s[col_names[0:13]]
test_y=test_s[col_names[13]]

In [16]:
train_X

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native
0,39,5,9,13,4,0,1,4,1,2174,0,40,37
1,50,4,9,13,2,3,0,4,1,0,0,13,37
2,38,2,11,9,0,5,1,4,1,0,0,40,37
3,53,2,1,7,2,5,0,2,1,0,0,40,37
4,28,2,9,13,2,9,5,2,0,0,0,40,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,2,7,12,2,12,5,4,0,0,0,38,37
30157,40,2,11,9,2,6,0,4,1,0,0,40,37
30158,58,2,11,9,6,0,4,4,0,0,0,40,37
30159,22,2,11,9,4,0,3,4,1,0,0,20,37
30160,52,3,11,9,2,3,5,4,0,15024,0,40,37

In [18]:
train_Y

0         <=50K
1         <=50K
2         <=50K
3         <=50K
4         <=50K
          ...
30156     <=50K
30157      >50K
30158     <=50K
30159     <=50K
30160      >50K
Name: Salary, Length: 30161, dtype: object

# Gaussian Naive Bayes

In [19]:
from sklearn.naive_bayes import GaussianNB
Gmodel=GaussianNB()
train_pred_gau=Gmodel.fit(train_X,train_Y).predict(train_X)
test_pred_gau=Gmodel.fit(train_X,train_Y).predict(test_x)

0.7946879150066402

In [ ]:
train_acc_gau=np.mean(train_pred_gau==train_Y)
test_acc_gau=np.mean(test_pred_gau==test_y)

In [ ]:
train_acc_gau

In [22]:
test_acc_gau

(0.7953317197705646, 0.7946879150066402)

# Multinomial Naive Bayes

In [23]:
from sklearn.naive_bayes import MultinomialNB
Mmodel=MultinomialNB()
train_pred_multi=Mmodel.fit(train_X,train_Y).predict(train_X)
test_pred_multi=Mmodel.fit(train_X,train_Y).predict(test_x)

In [24]:
train_acc_multi=np.mean(train_pred_multi==train_Y)
test_acc_multi=np.mean(test_pred_multi==test_y)

In [25]:
train_acc_multi

0.7729186698053778

In [26]:
test_acc_multi

0.7749667994687915